<div class="my-6">
    <a href="/" class="inline-flex items-center px-4 py-2 rounded-md border border-border bg-background hover:bg-accent hover:text-accent-foreground transition-colors text-sm font-medium">
        {{ ux_icon('fa-solid:arrow-circle-left', {'class': 'mr-2 w-4 h-4'}) }}
        Back to home
    </a>
</div>
