<div class="my-6">
    <a href="/" class="px-4 py-2 bg-secondary text-primary border border-primary hover:bg-primary hover:text-primary-foreground">
        {{ ux_icon('fa-solid:arrow-circle-left', {'class': 'icon-inline'}) }}
        Back to home
    </a>
</div>
