<div class="bg-muted border-l-4 border-primary text-muted-foreground p-4 mb-8" role="alert">
    <p class="font-bold">⚠️ Warning ⚠️</p>
    <p>This article was written {{ article.date|time_diff }}. The informations it contains may be outdated or no longer relevant.</p>
</div>
