@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@theme {
    /** Toolkit */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

    /** Previous */
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    /** Toolkit */
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    .icon-inline {
        display: inline-block;
        font-size: inherit;
        height: 1em;
        overflow: visible;
        vertical-align: -0.125em;
        width: 1em;
    }
}

.py-05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.badge-container:hover .badge-info {
    @apply -translate-y-32;
}

.markdown {
    @apply text-foreground leading-normal break-words;
}

.markdown .heading-permalink {
    @apply mr-2
}

.markdown>*+* {
    @apply mt-0 mb-4;
}

.markdown li+li {
    @apply mt-1;
}

.markdown li>p+p {
    @apply mt-6;
}

.markdown strong {
    @apply font-semibold;
}

.markdown a {
    @apply text-primary font-semibold underline decoration-primary/30 underline-offset-2 hover:decoration-primary;
}

.markdown a svg {
    @apply inline;
}

.markdown strong a {
    @apply font-bold;
}

.markdown h1 {
    @apply leading-tight border-b border-border text-4xl font-semibold mb-4 mt-6 pb-2 text-foreground;
}

/** Hide H1, already displayed in subheader */
body .markdown>h1:first-child {
    display: none;
}

.markdown h2 {
    @apply leading-tight border-b border-border text-2xl font-semibold mb-4 mt-6 pb-2 text-foreground;
}

.markdown h3 {
    @apply leading-snug text-lg font-semibold mb-4 mt-6 text-foreground;
}

.markdown h4 {
    @apply leading-none text-base font-semibold mb-4 mt-6 text-foreground;
}

.markdown h5 {
    @apply leading-tight text-sm font-semibold mb-4 mt-6 text-foreground;
}

.markdown h6 {
    @apply leading-tight text-sm font-semibold text-muted-foreground mb-4 mt-6;
}

.markdown blockquote {
    @apply text-base border-l-4 border-border pl-4 pr-4 text-muted-foreground italic;
}

.markdown ul {
    @apply text-base pl-8 list-disc text-foreground;
}

.markdown ol {
    @apply text-base pl-8 list-decimal text-foreground;
}

.markdown kbd {
    @apply text-xs inline-block rounded-sm border border-border px-1 py-0.5 align-middle font-normal font-mono shadow-sm bg-muted text-foreground;
}

.markdown table {
    @apply text-base border-border w-full;
}

.markdown th {
    @apply border border-border py-2 px-3 bg-muted font-semibold text-left;
}

.markdown td {
    @apply border border-border py-2 px-3;
}

.markdown img {
    @apply m-auto rounded-lg shadow-sm border border-border;
    @apply my-8;
}

.markdown :not(pre) code {
    @apply font-mono text-sm inline border border-border bg-muted rounded-md px-1.5 py-0.5 text-primary;
}

/** Override legacy gist link styles */
.markdown a.bg-gray-100.text-blue-500.border-blue-500 {
    @apply inline-flex items-center px-4 py-2 rounded-md border border-border bg-background hover:bg-accent hover:text-accent-foreground transition-colors text-sm font-medium text-foreground no-underline;
}

.markdown a.bg-gray-100.text-blue-500.border-blue-500:hover {
    @apply text-accent-foreground;
}

.markdown pre {
    overflow: auto;
    @apply border p-4 mb-10 text-base;
}

@media (width >=theme(--breakpoint-lg)) {
    .markdown pre {
        overflow: auto;
        @apply mx-8;
    }
}

.markdown pre[class*="language-"]>code[class*="language-"] {
    @apply text-base font-mono;
}

.hide {
    display: none;
}

.dark .gist {
    filter: invert(0.92) hue-rotate(180deg);
}
